@charset "utf-8";

@media screen and (min-width: 768px) and(max-width:992px)
{ 
    
  
    section#login{
        width: 90vw;
        height: 280px;
    
    }
    section#login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login>#formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:992px ) {
   
    
       
        section#login{
            width: 990px;
            height: 350px;
        }
        
        section#login>#imagem{
            float: right;
            width: 50%;
            height: 100%;
        }
        section#login>#formulario{
            float: left;
            width: 50%;
        }
        section#formulario>h1{
            font-size: 2em;
        }
        section#formulario{
            font-size: 1.2em;
        }
        
    } 
@media screen and (min-width:300px )  {
    div.campo > input{
        transform: translateY(-10px);
    } 

}